RemoteSystemsTempFiles/
Vivado/.Xil/
Vivado/logs/
*.log
*.jou
Vitis/*_workspace/
Vitis/.*/
Vitis/.*
Vitis/boot/
docs/build/
Packages/
PetaLinux/offline.txt
VitisAccel/*_workspace/
VitisAccel/*_container/
VitisAccel/kernels/build/
Vivado/ip/build/
bootimages/
# UPDATER START
Vivado/zcu104/
PetaLinux/zcu104/
Vivado/zcu106/
PetaLinux/zcu106/
Vivado/zcu106_hpc0/
PetaLinux/zcu106_hpc0/
Vivado/genesyszu/
PetaLinux/genesyszu/
Vivado/uzev/
PetaLinux/uzev/
# UPDATER END
PetaLinux/build_logs/
dfx_runtime.txt
.repo.yaml
.memdata_temp_mem_file.mem
Vivado/*.bif
Vivado/*.pdi
Vivado/*.rcdo
Vivado/*.rnpi
Vivado/wdi_info.xml
__pycache__/
*.pyc
Vivado/gen_files/
Vivado/static_files/
